@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <input aria-label="Search through site content" type="search" name="q">
    <button type="submit">
        <img src="search-icon.png" alt="search-icon" height="20" width="20">
    </button>
</div>
